<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="detailsContent">
    <h2><%= card.app %></h2>
    <div class="content">
      <p id="detailName">Username/Email: <%= card.user %></p>
      <p id="detailPass">Password: <%= card.pass %></p>
      <p id="detailCreatedAt">Created At: <%= card.createdAt %></p>
    </div>
    <a class="delete" data-doc="<%= card._id %>">delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/wallet/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      }).then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>